@media (max-width:1200px) {
    .promo {
        min-width: 100%;
        padding: 21px 44px 93px 44px;
        
    }
    .consultation {
        
        .container {
            padding: 0 35px;
        }
    }
    .feedback {
        hr {
            width: 100%;
        }
    }   
}
@media (max-width:991px) {
    .promo {
        background: url(../img/bg1.jpg) 30% center no-repeat;
        min-height: 100%;
        padding-bottom: 12px;
        &__header {
            font-size: 40px;
           
        }
        &__subheader {
            font-size: 21px;
        }
        &__wrapper {
            margin-top: 51px;
        }
        &__icons {
            margin-top: 28px;
            width: 336px;
        }
        &__link {
            margin-bottom: 5px;
        }
    }
    
    .advantages {
        padding: 14px 22px 32px 22px;
        &__wrapper {
            margin-top: 5px;
        }
        &__icons {
            width: 30%;
        }
    }

    .consultation {
        padding: 20px;
        &__descr {
            margin-top: 5px;
            }
    }

    .carousel {
        padding: 10px;
        
        &__inner {
            width: 565px;
            div {
            width: 100%;
            }
        }        
        
        .slick-slide {
            img {
                width: 100%;
            }
        }
        .slick-dots {
            text-align: center;
            display: flex;
            justify-content: center;
            margin-top: 5px;
            list-style: none;
            li {
                margin-right: 50px;
                &:last-child {
                    margin-right: 0;
                } 
            }
        }
        
        .slick-dots button {
            background: rgba($color: #FF0800, $alpha: 0.7); // цвет фона
            border: none; // без рамки
            border-radius: 40%; // радиус закругления
            height: 35px; // высота точки
            width: 35px; // ширина точки
            margin: 15px; // отступы между точками
            outline: none; // убираем обводку
            color: #000000;
            &:hover {
                background: rgba($color: #FF0800, $alpha: 1.0);
                color: #ffffff;
            }
        
        }
    
    }

    .catalog {
        padding: 0 30px;
        
        .catalog-item {
            width: 224px;
            padding: 10px 5px 10px 5px;
            &__descr {
                margin-right: 20px;
            }
        }
        .button_mini {
            width: 100px;
            height: 50px;
        }
    }
   
    .feedback {
        padding-bottom: 0;
        .container {
            padding: 0 40px 20px 40px;
        }
        &__item {
            margin-top: 11px;
        }
        &__title {
            font-size: 17px;
            text-align: left;
        }
        &__subtitle {
            font-size: 13px;
            text-align: left;
        }
        &__descr {
            font-size: 16px;
            text-align: left;
        }
    }
    .footer {
        height: 450px;
        &__info {
            width: 388px;
            height: 183px;
            padding: 12px 14px 12px 12px;
        }
        &__social-item {
            width: 30px;
            height: 30px;
            margin-right: 5px;
            img {
                height: 15px;
            }
        }
        iframe {
            height: 450px;
        }

    }
    .modal {
        width: 365px;
        min-height: 300px;
        background-color: #f2f2f2;
        padding: 6px 25px 20px 33px;
    }
}

@media (max-width:767px) {
   
    .promo {
        padding: 20px 25px 11px 26px;
        &__wrapper {
            margin-top: 30px;
        }
        &__header {
            font-size: 35px;
            display: block;
            margin: 0 auto;
        }
        &__subheader {
            display: block;
            margin: 0 auto;
            font-size: 18px;
            margin-top: 13px;
        }
        &__icons {
            margin-top: 28px;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
    
    .header {
        &__phone {
            font-size: 16px;
        }
        
        &__logo {
            img {
                width: 85%;
            }
        }
        &__official {
            margin: 0 14px 0 0;
        }
    }
    
    .button {
        &_main {
            display: block;
            margin: 0 auto;
            margin-top: 25px;
        }
    }

    .advantages {
        
        &__title {
            width: 250px;
            font-size: 19px;
            text-align: center;
        }
        &__text {
            margin-top: 5px;
            width: 450px;
            font-size: 16px;
        }
        &__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__icons {
            max-width: 75%;
            margin: 5px 0 5px 0;
        }
    }
    .consultation {
        min-height: 390px;
        .container {
            padding: 0 5px;
        }
        &__descr {
            font-size: 16px;
        }
        .title_left {
            font-size: 22px;
        }
        .feed-form {
            input {
                height: 38px;
                margin-bottom: 9px;
            }
        }
    }
    
    .carousel {
        &__inner {
            width: 445px;
            div {
                width: 100%;
            }
        }
        .slick-slide {
            img {
                width: 100%;
            }
        }
        .slick-dots {
            padding: 0;
        }
    }

    .catalog {
        padding-bottom: 10px;
        .button_mini {
            width: 120px;
            height: 33px;
            margin-bottom: 3px;
        }
        .container {
            padding: 20px;
        }
        &__tabs {
            margin-top: 25px;
        }
        &__tab {
            width: 150px;
            font-size: 14px;
        }
        &__content {
            margin-top: 12px;
        }
        .catalog-item {
            width: 148px;
            padding: 2px 2px 2px 4px;

            &__list li {
                font-size: 10px;
                margin-bottom: 0px;
            }
            &__descr {
                margin-right: 0px;
                font-size: 11px;
                margin-top: 3px;
            }
            &__link {
                margin-top: 36px;
                position: absolute;
                margin-left: 25px;
            }
            &__price {
                margin-bottom: 7px;
            }
            &__back {
                bottom: -10px;
            }
                
        }
        &-item {
            max-width: 50%;
            min-height: 381px;
            img {
                height: 120px;
            }
            
            hr {
                margin-top: -13px;
                margin-bottom: 39px;
            }
            &__subtitle {
                margin-top: 6px;
                font-size: 13px;
            }
            &__footer {
                flex-direction: column;
                align-items: center;
            }
        }
        &-item__price {
            font-size: 16px;
        }

    }

    .feedback {
        .container {
            padding: 0 20px;
        }
        &__item {
            flex-direction: column;
            margin-top: 15px;
            justify-content: center;
            align-items: center;
            &:nth-child(2) {
                margin-top: 15px;
            }
        }
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        &__wrapper {
            margin: 15px 0 0 0;
            padding-right: 0;
        }
        &__img {
            width: 140px;
            height: 140px;
            margin-right: 0;
        }
    }
    .footer {
        height: 400px;
        &__info {
            width: 260px;
            height: 120px;
            padding: 12px 14px 12px 12px;
            right: 50%;
            transform: translateX(5%);
        }
        &__addr {
            font-size: 12px;
            margin-bottom: 7px;
        }
        &__phone {
            margin:15px 0 26px 0;
        }
        &__social-item {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            img {
                height: 10px;
            }
        }
        iframe {
            height: 400px;
        }

    }
    .modal {
        width: 329px;
    }

}

@media (max-width: 575px) {
    .promo {
        
        &__header {
            font-size: 20px;
            line-height: 34px;
            text-align: center;
        }
        &__subheader {
            font-size: 11px;
            margin-top: 0;
        }
        &__icons {
            margin-top: 12px;
            justify-content: center;
            align-items: center;
        }
        &__icon {
            font-size: 11px;
            img {
                margin-bottom: 4px;
            }
        }
        &__link {
            margin-top: 5px;
            font-size: 11px;
        }
    }

    .header {
        flex-direction: column;
        &__logo {
            width: 185px;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &__official {
            margin: 18px 0 0 0;
            align-items: center;
            font-size: 11px;
        }
        &__phone {
            margin-top: 20px;
            font-size: 22px;
        }
    }
    
    .button {
        display: block;
        margin: 0 auto;
        &_main {
            width: 240px;
            height: 30px;
            font-size: 12px;
            margin-top: 15px;
        }
        
    }
    
    .advantages {
        &__icons {
            min-width: 100%;
            margin: 0;
            &_animated {
                margin-top: 13px;
            }
        }
        
        &__text {
            width: 100%;
            font-size: 13px;
        }
        &__title {
            font-size: 15px;
        }

        .title {
            font-size: 18px;
        }
    }

    .consultation {
        min-height: 350px;
        padding: 10px 0 10px 0;
        background: url(../img/bg2.jpg)25% center/cover no-repeat;
        &__descr {
            font-size: 14px;
            margin-top: 0;
            text-align: center;
        }
        .container {
            padding: 0 15px;
        }
        .title {
            font-size: 17px;
            text-align: center;
        }
    }

    .feed-form {
        margin-top: 7px;
        input {
            height: 32px;
            margin-bottom: 8px;
            padding: 0 4px;
            font-size: 12px;
        }
        
    }
    .button_submit {
        height: 39px;
        font-size: 17px;
        margin-top: 10px;
        
    }
    .button_mobile {
        height: 55px;
        font-size: 14px;
        margin-top: 0;
    }
    
    .carousel {
        &__inner {
            width: 255px;
        }
        .slick-dots {
            li {
                margin-right: 0;
            }
        }
    }

    .catalog {
        .container {
            padding: 0 17px;
        }
        &__tabs {
            margin-top: 0;
            display: flex;
            flex-direction: column;
        }
        &__tab {
            width: 184px;
            font-size: 12px;
            margin-bottom: 7px;
        }
        &-item {
            img {
                height: 100px;
            }
            &__descr {
                font-size: 10px;
            }
            &__link {
                font-size: 12px;
                margin-top: 7px;
            }
        }
        .title {
            font-size: 19px;
        }
    }

    .feedback {
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__img {
            width: 140px;
            height: 140px;
            margin-right: 0;
        }
        &__title {
            font-size: 15px;
            text-align: center;
        }
        &__subtitle {
            font-size: 12px;
            text-align: center;
        }
        &__descr {
            min-width: 260px;
            font-size: 11px;
            text-align: center;

        }
        &__wrapper {
            margin-left: 0;
            padding-right: 0;
        }
        hr {
            width: 100%;
        }

        .title {
            font-size: 19px;            
        }

    }
    .footer {
        height: 100px;
        &__info {
            width: 100px;
            height: 132px;
            padding: 3px 3px;
            position: absolute;
            top: 200px;
            left: -6px;

            
        }
        &__addr {
            font-size: 10px;
            margin-bottom: 0;
            line-height: 12px;
        }
        &__phone {
            font-size: 16px;
            margin: 10px 10px;
        }
        &__social-item {
            width: 24px;
            height: 24px;
            margin-right: 4px;
            margin: 0 5px;
        }    
    }
    .modal {
        width: 273px;
        min-height: 274px;
        border-radius: 5px;
        &__subtitle {
            font-size: 22px;
        }
        &_descr {
            font-size: 16px;
        }
        &__close {
            top: -40px;
            right: -17px;
            font-size: 62px;
        }
    }

}

















