@media (max-width:1200px) {
    .promo {
        min-width: 100%;
        padding: 21px 44px 93px 44px;
        
    }   
}
@media (max-width:991px) {
    .promo {

        background: url(../img/bg1.jpg) 30% center no-repeat;
        min-height: 100%;
        padding-bottom: 12px;
        &__header {
            font-size: 40px;
           
        }
        &__subheader {
            font-size: 21px;
        }
        &__wrapper {
            margin-top: 51px;
        }
        &__icons {
            margin-top: 28px;
            width: 336px;
        }
        &__link {
            margin-bottom: 5px;
        }
    }
    
    .advantages {
        padding: 14px 5px;
        &__wrapper {
            margin-top: 5px;
        }
    }
    .button {
        &_main {
            margin-top: 25px;
        }
    }
}
@media (max-width:767px) {
    .promo {
        padding: 20px 25px 11px 26px;
        &__wrapper {
            margin-top: 30px;
        }
        &__header {
            font-size: 35px;
            display: block;
            margin: 0 auto;
        }
        &__subheader {
            display: block;
            margin: 0 auto;
            font-size: 18px;
            margin-top: 13px;
        }
        &__icons {
            margin-top: 28px;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
    .header {
        &__phone {
            font-size: 16px;
        }
        
        &__logo {
            img {
                width: 85%;
            }
        }
        &__official {
            margin: 0 14px 0 0;
        }
    }
    .button {
        &_main {
            display: block;
            margin: 0 auto;
            margin-top: 25px;
        }
    }
    .advantages {
        &__title {
            font-size: 16px;
        }
        &__text {
            margin-top: 5px;
        }
        &__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__icons {
            max-width: 75%;
            margin: 5px 0 5px 0;
        }
    }
}
    .title {
        font-size: 25px;
    }
@media (max-width:575px) {
    .promo {
        background: url(../img/bg1.jpg) 25% center/cover no-repeat;
        &__wrapper {
            margin-top: 14px;
        }
        &__header {
            font-size: 30px;
            text-align: center;
            line-height: 35px;
        }
        &__subheader {
            font-size: 16px;
            margin-top: 7px;
            text-align: center;
        }
        &__icons {
            margin-top: 20px;
        }
        &__icon {
            img {
                margin-bottom: 0px
            }
        }
        &__link {
            margin-top: 2px;
            font-size: 10px;
        }
    }
    .header {
        flex-wrap: wrap;
        &__logo {
            img {
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        &__official {
            display: block;
            margin: 0 auto;
            margin-top: 19px;
        }
        &__contacts {
            display: block;
            margin: 0 auto;
            margin-top: 17px;
        }
        &__phone {
            font-size: 22px;
        }
    }
    .button {
        display: block;
        margin: 0 auto;
        &_main {
            width: 254px;
            height: 30px;
            font-size: 13px;
        } 
    }
}

